/* RESETS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
}

/* CSS */

body{
    font-family: "Montserrat";
    font-size: 14px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(30, 38%, 92%);
}

h1{
    font-family: "Fraunces";
}

.container{
    max-width: 375px;
}

.wrapper{
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    margin: 0.5rem;
    display: grid;
    grid-template-columns: 1fr;
    box-shadow: 0 0 15px rgba(78, 27, 27, 0.20);
}

.img-box{
    height: 100%;
    width: 100%;
}

.img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-box{
    padding: 1.5rem;
}

.pre-title p{
    color: hsl(228, 12%, 48%);
    letter-spacing: 5px;
    font-size: 0.9em;
    font-weight: 100;
}

.title h1{
    padding-top: 0.7rem;
    line-height: 35px;
    font-size: 2.4em;
}

.subtitle p{
    padding-top: 1rem;
    color: hsl(228, 12%, 48%);
    font-size: 1.05em;
    line-height: 25px;
}

.price{
    display: flex;
    align-items: center;
    padding-top: 1.4rem;
}

.price strong{
    font-family: "Fraunces";
    font-size: 2.4em;
    color: hsl(158, 36%, 37%);
}

.price span{
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
    padding-left: 1.3rem;
}

.boutton-container{
    margin: 1rem auto auto auto;
    background-color: hsl(158, 36%, 37%);
    border-radius: 10px;
    padding: 5% 15%;
    transition: background-color 0.4s;
}

.boutton-container:hover{
    background-color: hsl(212, 21%, 14%);
    cursor: pointer;
}

.boutton{
    display: flex;
    justify-content: center;
    align-items: center;
}

.boutton a{
    color: white;
    text-decoration: none;
    font-weight: 700;
    padding-left: 10px;
}

footer{
    padding-top: 0.5rem;
    width: max-content;
    font-size: 0.9em;
    margin: auto;
}

footer a{
    color: hsl(158, 36%, 37%);
    font-weight: 600;
}

@media screen and (min-width: 768px){
    .container{
        max-width: 700px;
    }

    .wrapper{
        grid-template-columns: 1fr 1fr;
    }

    .text-box{
        padding: 2rem;
    }

    .title h1{
        padding-top: 1.5rem;
        font-size: 2.7em;
    }

    .subtitle p{
        padding-top: 2rem;
        font-size: 1.2em;
    }

    .price{
        padding-top: 2rem;
    }

    .price strong{
        font-size: 2.8em;
        font-weight: 700;
    }

    .boutton-container{
        margin: 2rem auto auto auto;
        padding: 7% 15%;
    }
}

@media screen and (max-width: 320px){
    .container{
        max-width: 300px;
    }

    footer{
        font-size: 0.7em;
    }
}
